<h1>Posts#edit</h1>
<p>Find me in app/views/posts/edit.html.erb</p>

<%= form_with(model: @post) do |form| %>
  Username: <%= form.text_field(:title) %><br />
  Content: <%= form.text_area(:content) %><br />
  User Id: <%= form.text_field(:user_id) %><br />
  <%= form.submit %>
<% end %>