<h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p>

<% @posts.each do |post| %>
  <div style="margin-top: 10px;">
    <strong>Id:</strong> <%= post.id %><br />
    <strong>Title:</strong> <%= post.title %><br />
    <strong>Content:</strong> <%= post.content %><br />
    <strong>User id:</strong> <%= post.user_id %><br />
    <strong>Username:</strong> <%= post.user.username %><br />
    
    <%= link_to "Show Post", post_path(post) %>
    <%= link_to "Edit Post", edit_post_path(post) %>
    <%= link_to "Destroy Post", post_path(post), method: :delete %>
  </div>
<% end %>