<!-- 
  the following code is available to us in the following files:
    - index.html.erb
    - show.html.erb
-->
<div style="margin-top: 20px;">
  <strong>Username:</strong> <%= user.username %><br />
  <strong>Password:</strong> <%= user.password %><br />
  <strong>Created At:</strong> <%= user.created_at_formatted %><br />
  <strong>Updated At:</strong> <%= user.updated_at_formatted %><br />

  <!-- these links allow us to show, edit and delete a user -->
  <%= link_to "Show User", user_path(user) %>
  <%= link_to "Edit User", edit_user_path(user) %>
  <%= link_to "Destroy User", user_path(user), method: :delete %>
</div>