<h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p>

<!-- users_path == /users -->
<!-- Very much a user sign up form -->
<%= form_with model: @user, remote: true do |f| %>
  <%= f.label :email %>
  <%= f.text_field :email %><br />
  <%= f.label :password %>
  <%= f.password_field :password %><br />
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %><br/>
  <%= f.submit %>
<% end %>