<!DOCTYPE html>
<html>
  <head>
    <title>TwitterClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <%= link_to "Home", root_path %>
      <%= link_to "New User", new_user_path %>
      <%= link_to "All Posts", posts_path %>
      <%= link_to "New Post", new_post_path %>
    </nav>

    <img src="/images/file.jpg" alt="">
    <img src="<%= image_path 'file.jpg' %>" />
    <%= image_tag("file.jpg", { class: "name", width: "100px" }) %>
    <div id="something">
    </div>

    <%= yield %>
  </body>
</html>
